section.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.tweets {
  display: flex;
  border: 3px solid #545149;
  border-radius: 10px;
  /* margin-top: 35px; */
  flex-flow: column wrap;
  width: 100%;
  margin-bottom: 45px;
}

article.tweets:hover {
  box-shadow: 4px 4px 4px 2px #9c9890;
}

article.tweets header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin: 10px 0px;
  width: 100%;
}

article.tweets header div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

article.tweets header div img {
  display: flex;
  height: 90px;
  width: 90px;
  margin: 0px 5px;
}

article.tweets header div h2 {
  color: #575656;
  font-size: 30px;
  margin-left: 0.25em;
}

article.tweets div.tweet {
  display: flex;
  font-size: 25px;
  border-bottom: 3px solid #545149;
  margin: 15px 90px;
  text-align: left;
}

article.tweets header p {
  font-size: 30px;
  margin: 10px 20px;
  opacity: 0.80;
}

article.tweets footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 10px 90px;
}

article.tweets footer p {
  font-size: 20px;
}

 .fa-flag:hover {
  color: #0a8bf4;
}

.fa-retweet:hover {
  color: rgb(0, 230, 65);
}

.fa-heart:hover {
  color: red;
}