.header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffa200;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  margin-bottom: 0em;
}

header div.profile-pic {
  margin-top: 40px;
  margin-bottom: -50px;
}

@media only screen and (min-width: 1024px) {
  .header {
    width: 40%;
    margin: 3em 2em 0em 2.5em;
    position: relative;
    top: 110px;
  }
}