nav {
  height: 105px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  background-color: #ffa200;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  top: 0;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  height: 5px;
}

nav div i {
  color: orangered;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    position: fixed;
  }
}
