.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  display: none
}

.new-tweet form {
  width: 100%;
}

.new-tweet textarea {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 3px solid;
  margin-bottom: 20px;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet div button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: whitesmoke;
  padding: 5px;
  /* border: 2px solid royalblue; */
  border-radius: 4px;
  outline: none;
}

.new-tweet div button:hover {
  background-color: #4056A1;
  border-color: #ffa200;
  /* background-color: #ffa200;
  color: #4056A1;
  outline: none; */
}

.new-tweet #invalid {
  font-style: italic;
  color: red;
  border: 2px solid red;
  display: none;
  padding: 3px;
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
    position: relative;
    top: 110px;
    margin: 3em 1.5em 0em 1.5em;
  }

  .new-tweet form {
    width: 100%;
    margin-bottom: 1em;
  }
}