.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  display: none
}

.new-tweet form {
  width: 100%;
}

.new-tweet textarea {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 3px solid;
  margin-bottom: 20px;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet div button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: whitesmoke;
  padding: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  outline: none;
  border-radius: 6px;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.new-tweet div button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.new-tweet div button::after {
  content: '»';
  align-items: center;
  position: absolute;
  opacity: 0;  
  right: -15px;
  transition: 0.5s;
}

.new-tweet div button:hover {
  padding-right: 24px;
  padding-left:8px;
}

.new-tweet div button:hover::after {
  opacity: 1;
  right: 2px;
}

.new-tweet #invalid {
  font-style: italic;
  color: red;
  border: 2px solid red;
  display: none;
  padding: 3px;
  margin-top: 0;
  border-radius: 5px;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
    position: relative;
    top: 110px;
    margin: 3em 1.5em 0em 1.5em;
  }

  .new-tweet form {
    width: 100%;
    margin-bottom: 1em;
  }
}